<h1>Welcome to RCafe</h1>
<p>This page is "Welcome page of RCafe project."</p>

<h2><small>Wecome to</small>  RailsCafe2.</h2>
<p>: This service is sample project for beginners.</p>
<br />
<%= link_to "Writing", posts_path, class:'btn btn-default' %>
